body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    overflow: hidden;
}

.header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.white-box, .green-box {
    width: 45%;
    padding: 40px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.white-box {
    background-color: #ffffff;
    font-size: 110px;
    color: #555555;
}

.green-box {
    background-color: #5EC1B7;
    color: #ffffff;
    font-size: 180px;
}

.white-box p, .green-box p {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.overlay {
    position: absolute; /* Position overlay over header */
    top: 40%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center using translate */
    text-align: center;
}

.text-container {
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.rounded-button {
    display: inline-block;
    padding: 10px 100px;
    background-color: #FF4D00;
    color: #ffffff;
    text-decoration: none;
    border-radius: 40px;
    font-size: 40px;
    font-weight: lighter;
    transition: background-color 0.3s ease;
}

.rounded-button:hover {
    background-color: #FF7F00;
    color: #ffffff; 
    text-decoration: none; 
}