/* product_detailsstyles.css */

body {
    font-family: 'Sen', sans-serif;
    margin: 0;
    padding: 0;
}

.product-details {
    max-width: 1200px;
    margin: 20px; /* Tilføjet margin for at skabe afstand fra venstre kant */
    padding: 20px;
    display: flex;
}

.description-box {
    background-color: #5EC1B7;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.description-box h3 {
    color: white; /* Gør titlen hvid */
    padding-left: 18px;
    font-size: 40px;
    padding-bottom: 20px;
}

.description-box p {
    color: white;
    font-size: 16px;
    padding-left: 18px;
    font-size: 20px;
}

.product-image img {
    max-width: 500px;
    height: auto;
}

.product-details .details {
    flex-grow: 1;
    margin-left: 20px;
}

.product-details h2 {
    color: #333;
}

.product-details p {
    color: #666;
}

.product-details strong {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.product-details .quantity-section {
    margin-bottom: 10px;
}

.product-details .quantity-controls {
    display: flex;
    align-items: center;
}

.product-details .quantity-controls button {
    background: none;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.product-details .quantity-controls input {
    width: 50px;
    text-align: center;
    margin: 0 10px;
    border: none;
    padding: 5px; /* Tilføjet padding for at øge klikområdet */
    outline: none; /* Fjernet den blå kant ved fokus */
}

.product-details button {
    background-color: #FF4D00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.product-details button:hover {
    background-color: #FF7F00;
}

.product-details .quantity-controls button:hover {
    background: none; /* Fjernet baggrundsfarven ved hover */
    color: #333; /* Ændret tekstfarven ved hover til sort */
}

.product-details .quantity-controls input::-webkit-inner-spin-button,
.product-details .quantity-controls input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}